{% extends "base.html" %}

{% block title %}Отзывы{% endblock %}

{% block content %}

<h1 style="margin-bottom:30px;">Отзывы семей, которым мы помогли</h1>

<div class="cards">

{% for review in page_obj %}

<div class="card">
<h3>{{ review.name }}</h3>

<p>
{{ review.text }}
</p>

</div>

{% endfor %}

</div>


<div style="margin-top:40px; text-align:center;">

{% if page_obj.has_previous %}
<a class="button" href="?page={{ page_obj.previous_page_number }}">← Назад</a>
{% endif %}

<span style="margin:0 15px;">
Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
</span>

{% if page_obj.has_next %}
<a class="button" href="?page={{ page_obj.next_page_number }}">Вперёд →</a>
{% endif %}

</div>

{% endblock %}